<p id="notice"><%= notice %></p>

<div class="tasks">
  <p>
  <strong>Title:</strong>
  <%= @task.title %>
  </p>

  <p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
  </p>

  <p>
  <strong>Priority:</strong>
  <%= @task.priority %>
  </p>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
